# Version control
.git/
.gitignore

# Environment files
.env
.env.*
*.env

# Python
**/__pycache__/
**/*.py[cod]
**/.pytest_cache/
**/*.db
**/*.sqlite

# Node
**/node_modules/
**/.next/
**/*.tsbuildinfo

# IDE & OS
.idea/
.vscode/
.DS_Store
Thumbs.db
